.Cart-container{
    position: fixed;
}
.cart-container h2{
    font-weight: 800;
    text-align: center;
}
.cart-container .order-num{
    font-size: 1.3rem;
    text-align: center;
    margin: 1rem 0; 
}
.product-info-container{
    display: flex;
    justify-content: space-between;
}
.review-btn{
    margin: 1rem 0 0 3rem;
    color: black;
}
